:root{
  --mainGrey:#f4f4f4;
  --lightBlue:#009ffd;
  --mainGreen:#00a388;
  --mainOrange:#ff6138;
  --lightColor:#e8491d;
  --mainYellow:#ffa400;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
              "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
              sans-serif !important;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
  background: var(--mainGrey) !important;
}
.text-title{
  font-size:1.5rem !important;
  color:#009ffd !important;
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainOrange);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainOrange)!important;
}
.btn-black:hover{
  background:var(--mainOrange)!important;
  color: #ffffff;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
